HeaderFilterRegex: "^(?!.*3rdparty).*$"
InheritParentConfig: false
CheckOptions:
  - key: readability-identifier-naming.FunctionCase
    value: lower_case

  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.GlobalVariableCase
    value: lower_case
  - key: readability-identifier-naming.LocalVariableCase
    value: lower_case
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.MemberCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: _
  - key: readability-identifier-naming.ClassSuffix
    value: _t
  - key: readability-identifier-naming.StructSuffix
    value: _t
  - key: readability-identifier-naming.EnumSuffix
    value: _t
  - key: readability-identifier-naming.TypedefSuffix
    value: _t
  - key: readability-identifier-naming.TypeAliasSuffix
    value: _t
  - key: readability-identifier-naming.ClassCase
    value: lower_case
  - key: readability-identifier-naming.StructCase
    value: lower_case
  - key: readability-identifier-naming.EnumCase
    value: lower_case
  - key: readability-identifier-naming.TypedefCase
    value: lower_case
  - key: readability-identifier-naming.TypeAliasCase
    value: lower_case
FormatStyle: file
Checks: >
  bugprone-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  cppcoreguidelines-*,
  -google-readability-namespace-comments,
  -google-readability-casting,
  -google-runtime-int,
  -google-runtime-references,
  -misc-non-private-member-variables-in-classes,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -misc-use-anonymous-namespace,
  -misc-include-cleaner,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -portability-avoid-pragma-once,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-reference-coroutine-parameters,
  -cppcoreguidelines-avoid-capturing-lambda-coroutines,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -readability-convert-member-functions-to-static,
  -readability-redundant-inline-specifier,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-pro-type-member-init,
  -cppcoreguidelines-rvalue-reference-param-not-moved,
  -misc-no-recursion,
  -performance-enum-size,
  -bugprone-branch-clone,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-type-vararg,
  -modernize-use-std-print,
  -readability-non-const-parameter,
